.dataContent {
  display: flex;
  border-radius: 0.25em;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #cecece;
}

.form {
  max-width: 1024px;
  margin: auto;
  border: 1px solid gray;
  padding: 2em;
}

pre #datasetdata {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 1em;
}
